uv
crewai
crewai-tools
gradio
sounddevice
openai-whisper 
torch
pyaudio
pyttsx3 
gtts
langchain_groq 
groq
litellm
pyttsx3
# sudo apt-get install alsa-utils -y
# sudo apt update && sudo apt install espeak -y
# sudo apt-get update && sudo apt-get install portaudio19-dev -y
# sudo apt-get update && sudo apt-get install espeak -y
